{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4 mb-4">Smarter Parker
    <small>Smart Parking Lot Monitor</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row mx-auto">

    <div class="col-md-8 mt-10">
      <img class="img-fluid" src="{{ url_for('video_feed') }}" style="width: 35vw; -ms-interpolation-mode: bicubic;" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p> This Smart Parking Lot Monitoring (SPLM) system detects cars, pedestrians and bikers and catalogues them in the database. This can be significantly useful for law enforcement personnel as well as parking administration officials. </p>

      <br>

      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Xilinx Ultra96 v2 Embedded FPGA Computer</li>
        <li>YOLOv3 Convolutional Neural Network</li>
        <li>Python3 with Xilinx Pynq DNNDK on-board</li>
        <li>Real-time 1080p Camera Video Stream</li>
      </ul>
    </div>

  </div>

  <div>
  	    <br>
      	<div class="bg-light d-flex justify-content-between">
			<form action="/signup" method="post">
			  <input type="submit" value="Disable"></input>
			  <!-- <input type="text" name="email"></input> -->
			</form>
		</div>
  </div>

  <!-- /.row -->

  <!-- Related Projects Row -->
<!-- Page Content -->
</br>
</br>
<div class="container" style="height:100">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
      <div class="overflow-auto">
        {% for image in images %}

        <div class="card m-2 col-lg-6 col-md-4 col-4" style="width: 18rem;">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="{{url_for('static', filename=image)}}" alt="">
            </a>
            <div class="card-body">
              <h5 class="card-title">Vehicle</h5>
              <p class="card-text">Data - 02:11:2019, Time - 17:04:23</p>
            </div>
          </div>
        </div>
<!--            <div class="col-lg-6 col-md-6 col-6">-->
<!--              <a href="#" class="d-block mb-4 h-100">-->
<!--                    <img class="img-fluid img-thumbnail" src="{{url_for('static', filename=image)}}" alt="">-->
<!--              </a>-->
<!--            </div>-->
        {% endfor %}

    </div>
  </div>

</div>
<!-- /.container -->

</div>
<!-- /.container -->




{% endblock %}

